# Latex computation files
*.aux
*.bbl
*.log
*.out
*.synctex.gz
*.toc
*.blg
*.nav
*.snm
*.lof
*.lot
*.loa
*.tmp
*.bst

# R 
*.Rhistory
*.Rproj
*.Rproj.user

# Editor
*.swp

# Results
saved_objects_rerun/*
saved_objects/*


