# Latex computation files
*.aux
*.bbl
*.log
*.out
*.synctex.gz
*.toc
*.blg
*.nav
*.snm
*.lof
*.lot
*.loa
*.tmp
*.bst

# R 
*.Rhistory
*.Rproj
*.Rproj.user
*.Rout
*.Rdata

# Editor
*.swp

# Results


